body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/* navbar start here */
.navbar{
    background-color: #6F6AF7;
    height: 95px;
    width: 100%;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.divlogo{
    font-family: "Delius Unicase", cursive;
    font-weight: 700;
    font-size: 62px;
    position: relative;
    top: 7px;
    left: 10px;
    float: left;
    color: #fff;
}

.navbar-center ul{ 
    list-style-type: none;
}

li{
    float: left;
    margin-right: 20px;
}

.navbar-center{
    display: flex;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 30px;
}

.thodaside{
    padding-right: 12px;
    position: relative;
    left: -33px;
}

#searchbar{
    border: none;
    height: 35px;
    width: 199px;
    text-align: left;
    border-radius: 25px;
    padding: 0px 0px 0px 15px;
}

#searchbtn{
    position: relative;
    left: -76px;
    background: none;
    border: none;
    font-size: 15px;
    color: rgb(93, 94, 95);
    cursor: pointer;
}

input:focus{
    outline: none;
}

button:hover{
    color: blue;
}

.navbar-nav{
    color: black;
    font-size: 90px;
    position: relative;
    top: 30px;
    left: 75px;
}

.navbar-nav img{
    width: 50px;
}
/* navbar end here */

/* Main start here */
.main-div{
    width: 89%;
    margin: 0 auto;
}

.main-top{
    margin-top: 80px;
}

.main-top img{
    float: left;
    width: 40%;
}

.commentbox{
    float: right;
    background-color: #E5D8FF;
    margin-top: 20px;
    margin-right: 10px;
    height: 465px;
    border-radius: 25px;
    width: 59%;
}

.commentbox-txt{
    padding: 19px 25px 0px 15px;
    box-sizing: border-box;
    font-size: 21px;
    font-family: 'DM Sans',sans-serif;
    font-weight: 400;
    color: #6F7373;
}
/* Main end here */

/* rightside-logo start here */

.rightside-logo img{
    position: absolute;
    width: 5%;
    right: 0;
    top: 277px;
}
/* rightside-logo end here */

/* main-middle start here */
.main-middle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px 0px;
    position: relative;
}

.part{
   width: 20.5%;
   border-radius: 5px;
   font-family: 'DM Sans',sans-serif;
   padding: 0px 12px 0px 15px;
   line-height: 37px;
   color: #ffffff;
   font-weight: 700;
   height: 109px;
}

.p1{
    background-color: #929DFF;
}

.p2{
    background-color: #734CF2;
}

.p3{
    background-color: #D288FF;
}

.p4{
    background-color: #000000;
    width: 20.5%;
   border-radius: 5px;
   font-family: 'DM Sans',sans-serif;
   padding: 0px 12px 0px 15px;
   line-height: 37px;
   color: #ffffff;
   font-weight: 700;
   height: 109px;
}

.headset img{
    width: 10%;
    position: fixed;
    right: 66px;
    top: 189px;
    z-index:1;
}
/* main-middle end here */

/* last-div start here */
.last-div{
    background: #483EFF;
    padding: 25px;
    height: 450px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.last-left{
    float: left;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans',sans-serif;
    font-weight: 600;
    margin-top: 18px;
}

.add{
    color: #ffffff;
    border: 3px solid #ffffff;
    width: 90%;
    padding: 10px;
    margin-bottom: 26px;
    border-radius: 13px;
    text-align: center;
}

.add2{
    background-color: #BCE0F6;
    width: 90%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 13px;
    text-align: center;
    margin: 30px 0px;
}

.last-right{
    float:right;
    width: 67%;
    background-color: #ffffff;
    height: 445px;
    border-radius: 15px ;
    position: relative;
}

.last-right h3{
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding: 30px 0px 0px 30px;
    color: #04285A;
}

.pp{
    padding-left: 55px;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: #143565;
    padding-left: 10px;
}

span{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    color: #04285A;
    padding-left: 37px;
}

#lastbtn{
    background-color: #000000;
    color: #ffffff;
    width: 110px;
    padding: 6px;
    font-size: 18px;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    right: 25px;

}

#arrowbtn{
    width: 21px;
}
/* last-div end here */
